{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block title %}

  {% endblock %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'home/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/grayscale.min.css'%}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/popup.css'%}">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/tasks/settings">Settings</a>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/tasks/clients">Clients</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/tasks/clients">Clients</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item" >
            <a class="nav-link js-scroll-trigger" href="#">Hello {{user.username}}</a>
          </li>


          <li class="nav-item" >
            <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
          </li>


           {% else %}
          <li class="nav-item" >
            <a class="nav-link js-scroll-trigger" href="/login">Login</a>
          </li>


          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/signup">Sign Up</a>
          </li>

          {% endif %}

          


        </ul>
      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

<!-- 
  <footer class="bg-black small text-center text-white-50">
    <div class="container">

    </div>
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'home/js/grayscale.min.js' %}"></script>
  <script type="text/javascript">
    function toggleDisplay() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
  <script type="text/javascript">


    $(document).ready(function() {
    var max_fields = 10;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div><input type="text" name="partitions[]"/><a href="#" class="delete">Delete</a></div>'); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
  </script>

</body>
</html>
