
{%extends "base_template.html" %}
{% block title %}<title>Client details</title>{% endblock %}
{% load static %}


{% block content %}
				
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <!-- Projects Section -->
  <center>
  <section id="projects" class="projects-section bg-dark">

    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center mb-4 mb-lg-5">
 <!--        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'home/img/bg-masthead.jpg' %}" alt="">
        </div> -->
<!--             <div style="color: #8ed1cd" class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                <h5><div style="color: white">Client Name</div> {{client.name}} </h5>
                <p style="color: #8ed1cd" class="mb-0">Client MAC address: {{client.mac}}</p>
              </div>
              	<form action="/tasks/imagedeployment" method="post" id="form1">
    				<select name="imageName">
    				{% for image in imagelist %}
    				  <option value="{{image.imageName}}"> {{image.imageName}} </option>
    				{% endfor %}
    				</select>
    				<input type="hidden" id="client" name="client" value="{{client.mac}}">
    				<button type="submit" form="form1"> Deploy </button>            
    			</form>
          <button onclick="toggleDisplay()">Cloning</button> 
            </div> -->
            
            <div class="card" style="width: 100%;">
              
              <div class="card-body">
                <h3 class="card-title">{{client.name}} </h3>
                <p class="card-text">{{client.mac}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <form style="width: 40%;margin: 2%" action="/tasks/imagedeployment" method="post" id="form1">
                    <select style="margin-bottom: 1%" class="form-control" name="imageName">
                    {% for image in imagelist %}
                      <option value="{{image.imageName}}"> {{image.imageName}} </option>
                    {% endfor %}
                    </select>
                    <input class="form-control" type="hidden" style="display:none" id="client" name="client" value="{{client.mac}}">
                    <button type="submit" class="form-control btn btn-primary" form="form1"> Deploy </button>            
                  </form>
                  <button style="width: 40%; margin: 2%" class="form-control btn btn-primary" onclick="toggleDisplay()">Cloning</button> 
           
              </div>
            </div>
         

<!--       popup form  starting here -->
        <center>
        <div id="myDIV" style="display: none;margin: 10%;margin-left: 140%;width:100%">
          <center>
          <form action="/tasks/cloning" method="post" class="form-container">
            <h3>Cloning</h3>
            <input type="hidden" id="client" name="client" value="{{client.mac}}">
            <label for="email"><b>Image name</b></label>
            <input type="text" placeholder="Image Name" name="partitionName" required>

            <div class="container1">
                <button class="add_form_field">Add New partition &nbsp; 
                  <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
                <div><input type="text" name="partitions[]"></div>
            </div>
            <button type="submit" class="btn">Submit</button>
            <button type="submit" class="btn cancel" onclick="toggleDisplay()">Close</button>
          </form>
          </center>
        </div>
      </center>
<!--       popup form  ending here -->
      </div>
        
    </div>
  </section>
 <section class="projects-section bg-dark">
  <p style="display: none;">Test</p>
 </section>
 <center>
  
	

{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Client detail</title>
</head>
<body>
	{{client.mac}}
	{{client.name}}
	<form action="/tasks/imagedeployment" method="post" id="form1">
		<select name="imageName">
		{% for image in imagelist %}
		  <option value="{{image.imageName}}">{{image.imageName}}</option>
		{% endfor %}
		</select>
		<input type="hidden" id="client" name="client" value="{{client.mac}}">
		<input type="submit" form="form1">Deploy {{client.mac}}</button>            
	</form>
</body>
</html> -->

