
{%extends "base_template.html" %}
{% block title %}<title>Multicasting</title>{% endblock %}
{% load static %}


{% block content %}
				
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-dark">
    <div class="container">

      <!-- Featured Project Row -->
      {% for client in multicastInstances %}
        
      
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4><a href ="/tasks/{{client.mac}}"><li> {{client.name}} </li></a></h4>
            <p style="color:#64a19d"> MAC: {{client.mac}}</p>
            <button style="  background-color: white;color: black;border: 2px solid #64a19d;" onclick="addInstance('{{client.mac}},{{client.name}}')">Add for multicasting</button>
          </div>
        </div>
      </div>




      {% endfor %}
      <form method="POST" action="/tasks/multicastdeployment">
         <div  style="color:#64a19d" id="multicastForm" >
          <h3>Multicasting</h3>
          <ul id="multicastList"></ul>
         </div>
         <div style="color:#64a19d">
           <label for="imageName">Choose image:</label>
           <select name="imageName">
              {% for image in listOfImages %}
                <option value="{{image.imageName}}">{{image.imageName}}</option>
              {% endfor %}
           </select>
           <button style="background-color: white;color: black;height: 30px;text-align: center;" type="submit" >Submit</button>
        </div>
      </form>
    </div>
  </section>
  <script type="text/javascript">
    var multicastInstances = [];
    function addInstance(instance){

        var res = instance.split(",")
        if (!multicastInstances.includes(res[1])){
          multicastInstances.push(res[1])
          var input = document.createElement("INPUT");  
          var para = document.createElement("LI");  
          para.innerHTML = res[1]
          input.type = "hidden"
          input.value = res[0]
          input.name = "Mclients[]"
          document.getElementById("multicastForm").appendChild(input);  
          document.getElementById("multicastList").appendChild(para);  
          console.log(res[1])  
        }   
    }
  </script>
{% endblock %}