
{%extends "base_template.html" %}
{% block title %}<title>Client details</title>{% endblock %}
{% load static %}


{% block content %}
				
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <!-- Projects Section -->
  <center>
  <section id="projects" class="projects-section bg-dark">

    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center mb-4 mb-lg-5">
 <!--        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'home/img/bg-masthead.jpg' %}" alt="">
        </div> -->
<!--             <div style="color: #8ed1cd" class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                <h5><div style="color: white">Client Name</div> {{client.name}} </h5>
                <p style="color: #8ed1cd" class="mb-0">Client MAC address: {{client.mac}}</p>
              </div>
              	<form action="/tasks/imagedeployment" method="post" id="form1">
    				<select name="imageName">
    				{% for image in imagelist %}
    				  <option value="{{image.imageName}}"> {{image.imageName}} </option>
    				{% endfor %}
    				</select>
    				<input type="hidden" id="client" name="client" value="{{client.mac}}">
    				<button type="submit" form="form1"> Deploy </button>            
    			</form>
          <button onclick="toggleDisplay()">Cloning</button> 
            </div> -->
            
            <div class="card" style="width: 100%;">
              
              <div class="card-body">
                <h3 class="card-title">Settings</h3>
               <!--  <p class="card-text">{{client.mac}}</p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <form style="width: 40%;margin: 2%" action="/tasks/updatesettings" method="post" id="form1">
                    <label for="tftp">TFTP server</label>
                    <input class="form-control" type="text" id="tftp_server" name="tftp_server" value="{{settings.tftp_server}}">
                    <label for="storage_server_ip">Storage server IP</label>
                    <input class="form-control" type="text" id="storage_server_ip" name="storage_server_ip" value="{{settings.storage_server_ip}}">
                    <label for="storage_server_share">Storage server Share</label>
                    <input class="form-control" type="text" id="storage_server_share" name="storage_server_share" value="{{settings.storage_server_share}}">
                    <label for="storage_server_http_port">Storage server HTTP port</label>
                    <input class="form-control" type="text" id="storage_server_http_port" name="storage_server_http_port" value="{{settings.storage_server_http_port}}">
                    <label for="web_server_ip">Web server</label>
                    <input class="form-control" type="text" id="web_server_ip" name="web_server_ip" value="{{settings.web_server_ip}}">
                    <label for="web_server_port">Web server Port</label>
                    <input class="form-control" type="text" id="web_server_port" name="web_server_port" value="{{settings.web_server_port}}">
                    <label for="debug">Debug</label>
                    <select class="form-control" id="debug" name="debug">
                      <option {% if settings.debug == 'True' %} selected {% endif %}>True</option>
                      <option {% if settings.debug == 'False' %} selected {% endif %}>False</option>
                    </select>

                    <label for="tftp">DHCP server</label>
                    <input class="form-control" type="text" id="dhcp_server" name="dhcp_server" value="{{settings.dhcp_server}}">
                    <label for="dhcp_subnet_mask">DHCP subnet mask </label>
                    <input class="form-control" type="text" id="dhcp_subnet_mask" name="dhcp_subnet_mask" value="{{settings.dhcp_subnet_mask}}">
                    <label for="dhcp_server_type">DHCP server type</label>
                    <select class="form-control" type="text" id="dhcp_server_type" name="dhcp_server_type" >
                      <option {% if settings.dhcp_server_type == 'Full' %} selected {% endif %}>Full</option>
                      <option {% if settings.dhcp_server_type == 'Proxy' %} selected {% endif %}>Proxy</option>
                    </select>
                    <label for="dhcp_ip_start">DHCP start IP </label>
                    <input class="form-control" type="text" id="dhcp_ip_start" name="dhcp_ip_start" value="{{settings.dhcp_ip_start}}">
                    <label for="dhcp_ip_end">DHCP end IP </label>
                    <input class="form-control" type="text" id="dhcp_ip_end" name="dhcp_ip_end" value="{{settings.dhcp_ip_end}}">
                    <label for="dhcp_ip_gateway">DHCP Gateway IP </label>
                    <input class="form-control" type="text" id="dhcp_ip_gateway" name="dhcp_ip_gateway" value="{{settings.dhcp_ip_gateway}}">
                    <label for="dhcp_ip_dns">DHCP DNS </label>
                    <input class="form-control" type="text" id="dhcp_ip_dns" name="dhcp_ip_dns" value="{{settings.dhcp_ip_dns}}">
                    <label for="tftp">Global Deployment mode</label>
                    <select class="form-control" type="text" id="global_deployment_mode" name="global_deployment_mode" >
                      <option {% if settings.global_deployment_mode == 'Exist' %} selected {% endif %}>Exist</option>
                      <option {% if settings.global_deployment_mode == 'Erase' %} selected {% endif %}>Erase</option>
                    </select>
                    <button style="width: 40%; margin: 2%" type="submit" class="form-control btn btn-primary" form="form1"> Update settings </button>            
                  </form>

           
              </div>
            </div>
         
      </div>
        
    </div>
  </section>
 <section class="projects-section bg-dark">
  <p style="display: none;">Test</p>
 </section>
 <center>
  
	

{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Client detail</title>
</head>
<body>
	{{client.mac}}
	{{client.name}}
	<form action="/tasks/imagedeployment" method="post" id="form1">
		<select name="imageName">
		{% for image in imagelist %}
		  <option value="{{image.imageName}}">{{image.imageName}}</option>
		{% endfor %}
		</select>
		<input type="hidden" id="client" name="client" value="{{client.mac}}">
		<input type="submit" form="form1">Deploy {{client.mac}}</button>            
	</form>
</body>
</html> -->

